.slide.titlepage.first-slide{
  background: linear-gradient(to left, #6699ff 3%, #ffccff 100%);
  width: 78%;
  margin-left: 10%;
}

#align-center{
    text-align: center;
    margin-left: 10%;
    width: 78%;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-size: 42px;
}

#section{
    text-align: justify;
    margin-left: 10%;
    width: 78%;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-size: 42px;
}

h1{
    text-align: center !important;
    margin-right: 0px !important;
    padding-right: 0px !important;
}